body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.orange{
    color: orangered;
}

.flexible-container{
    display: flex;
    margin-bottom: 75px;

}
.top-section{
    background-image: url(Images/back\ 1.png);
    background-repeat: no-repeat;
    background-size: 15%;
}
.half-width{
    width: 50%;
    padding: 5%;
}
section h1{
    font-size: 50px;
    font-weight: 300px;
}
section h3{
    font-size: 25px;
}
.half-width img{
    width: 100%;
}
.half-width a{
    text-decoration: none;
    background-image: linear-gradient(tomato, orangered);
    color: white;
    padding: 10px 30px;
    border-radius: 5%;
    font-size: 20px;
}
.half-width p{
    margin-bottom: 30px;
    text-align: justify;
}
.experience-item{
    box-shadow: 10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(tomato, orangered);
    border-image-slice: 1;
}

.last-section{
    background-image: url(Images/back\ 1.png);
    background-repeat: no-repeat;
    background-size: 20%;
}

footer p{
    text-align: center;
}




